@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');
body{
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
}
body.no-scroll {
  overflow: hidden;
}
.navigation {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
  }
   .title{
      color: #636363;
      font-size: clamp(2rem, 5vw, 4rem);
      display:flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 2rem;
   }
   .title>p{
    font-weight: 600;
   }
   
   
    .card__container {
      border-radius: 10px;
      display: grid;
      row-gap: 1rem;
      place-items: center;
      margin-inline: 5%;
      margin-bottom: 3rem;
    }
    .card-text {
        font-size: var(--h2-font-size);
        font-weight: 550;
        margin-bottom: .75rem;
    }
    .card-body {
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .addForm{
      display: grid;
      align-items: center;

    }

    .addForm>div{
      display: grid;
      margin-right: 2rem;
      align-items: center;
      margin-top: 1rem;
    }

    .addForm>div label{
      margin-right: 1rem;
      color: #5B83FF;
    }
 
    .addForm input[type="text"] {
      height: 2rem;
      background: #D9D9D9;
      color: #000;
      font-size: 15px;
      border-radius: 8px;
      border: 1px solid #b3b3b3;
      outline: none;
      width: 30vw;
    }

    .addForm input[type="text"]:focus {
      background: #fff; /* Cambia el color de fondo al blanco cuando se enfoca */
      box-shadow: 0 0 0 2px #5B83FF; /* Cambia el color del borde al azul cuando se enfoca */
    }

    .card input[type="radio"]:checked + label {
      border-radius: 10px;
      background-color: #5B83FF; 
      color: #fff;
      transform: scale(1.1);
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      
    }
    .card { 
      border-radius: 10px;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      margin-bottom: 1rem;
      background-color: #fff;
      color: #5B83FF;
    }
    .card input[type="radio"] {
        display: none; 
    }
    .card input[type="checkbox"] {
      display: none;
    }
    .card input[type="checkbox"]:checked+label {
      border-radius: 10px;
      background-color: #5B83FF; 
      color: #fff;
      transform: scale(1.1);
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
  a{
    text-decoration: none;
  }

  .header{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 5px 5%;
}
.checkbtn{
    color: #000;
    font-size: 30px;
    cursor: pointer;
    margin-left: 15px;
    order: 3; 
}
#check{
    display: none;
}
.lang-div{
  display: flex;
}
.form-check{
  display: flex;
  align-items: center;
}
.form-check .form-check-input[type="checkbox"] {
  width: 40px; 
  height: 24px; 
  box-shadow: 1px 1px 1px 1px #858585;
}
.form-check .form-check-input[type="checkbox"]:checked {
  background-color: #383838; 
  border: none;
}
.form-check .form-check-input[type="checkbox"]:focus {
  border: none;
}

#lang-select{
  padding: 5px 10px;
  color: #333;
  background-color: #eee;
  border: 1px solid black;
  border-radius: 5px;
}
#lang-img{
  width: 20px;
  color: #000;
  margin: 5px 42px 0 0;
}
.header h3{
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    font-weight: 800;
    color: #5B83FF;
}
.header .nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #e1e1e1;
    left: -100%;
    top: 85px;
    transition: all 0.5s;
}

.header .nav-links {
    width: 100%;
    text-align: center;
}

.header .nav-links li {
    display: block;
    margin: 50px auto;
}
.header .nav-links a{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #636363;
    transition: color 0.3s ease;
    text-decoration: none;    
}

.header .nav-links li a:hover{
    font-size: 17px; 
    color: black;
    transition: all 0.5s;
}
.header .btn{
  display: none;
}
.header .btn button{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #000;
    padding: 9px 20px;
    min-width: auto; 
    border: 2px solid #5C6DB4;
    border-radius: 10px;
    white-space: nowrap;
}

#check:checked ~ .nav { 
    left: 0;
}


/*ContactUs*/
.row {
    display: flex;
    flex-direction: column;
  }
  
  .col-md-5{
    flex: 2;
  }
  .col-md-7 {
    flex: 3;
  }
  .container-c{
    padding-left: 10%;
    padding-right: 10%;
  }
  .container{
    width: 80%;
    padding: 30px;
    position: relative; 
  }
  .col-md-7{
    background: #fff;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 0 0 20px 20px;
  }
  .title-contactUs, .title-message{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
  }
  .container > h3{
    color: #787878;
    font-weight: 600;
  }
  .col-md-5{
    background: #5B83FF;
    padding: 30px;
    border-radius: 20px 20px 0 0 ;
    color: white;
  }
  .mt-4 a{
    color: #fff;
  }
  .title-message, .form-label, .content p, .form-control{
    font-family: 'Poppins', sans-serif;
    color: #636363;
  }
  .content{
    display: flex;
    justify-content: center;
  }
  .content p{
    color: #fff;
    font-size: 16px;
    padding-left: 20px;
  }
  
  .form-label{
    font-size: 15px;
  }
  
  .form-control {
    height: 45px;
    background: #D9D9D9;
    color: #000;
    font-size: 15px;
    border-radius: 8px;
    border: 1px solid #b3b3b3;
  }
  
  .form-control:focus {
    background: #fff;
  }
  
  .bi{
    font-size: 20px;
  }
  
  .grow-on-hover {
    transition: transform 0.3s; 
  }

  .col-md-7 {
    flex: 3;
  }
  .container-c{
    padding-left: 10%;
    padding-right: 10%;
  }
  .container{
    margin-top: 3rem;
    width: 80%;
    padding: 30px;
    position: relative; 
  }
  .col-md-7{
    background: #fff;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 0 0 20px 20px;
  }
  .title-contactUs, .title-message{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
  }
  .col-md-5{
    background: #5B83FF;
    padding: 30px;
    border-radius: 20px 20px 0 0 ;
    color: white;
  }
  .mt-4 a{
    color: #fff;
  }
  .title-message, .form-label, .content p, .form-control{
    font-family: 'Poppins', sans-serif;
    color: #636363;
  }
  .content{
    display: flex;
    justify-content: center;
  }
  .content p{
    color: #fff;
    font-size: 16px;
    padding-left: 20px;
  }
  
  .form-label{
    font-size: 15px;
  }
  
  .form-control {
    height: 45px;
    background: #D9D9D9;
    color: #000;
    font-size: 15px;
    border-radius: 8px;
    border: 1px solid #b3b3b3;
  }
  
  .form-control:focus {
    background: #fff; /* Cambia el color de fondo al blanco cuando se enfoca */
  }
  
  .bi{
    font-size: 20px;
  }
  
  .grow-on-hover {
    transition: transform 0.3s; 
  }
/* Register - LogIn */

.account_manager{
  color:#636363;
  padding: 3%;
}